<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450246579840-bi116hs3ej3bso3v7oqnurf1me7dfqp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450246579840-bi116hs3ej3bso3v7oqnurf1me7dfqp7</string>
	<key>API_KEY</key>
	<string>AIzaSyBxdYdJwF9X-q8KiHxxsOTbgeAy6VYDOys</string>
	<key>GCM_SENDER_ID</key>
	<string>450246579840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prueba.intercorpapp</string>
	<key>PROJECT_ID</key>
	<string>intercorpapp</string>
	<key>STORAGE_BUCKET</key>
	<string>intercorpapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450246579840:ios:37c3f8582764d7c1</string>
	<key>DATABASE_URL</key>
	<string>https://intercorpapp.firebaseio.com</string>
</dict>
</plist>